name: CI
on:
  push:
    # Path exclusions go here
    # **/filename for files
    # path/to/folder/** for folders
    # read more: https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#filter-pattern-cheat-sheet
    paths-ignore:
      - '**/README.md'
      - '**/.gitignore'
      - 'model/**'
    # this defines the branches you can push to, in order to execute the workflow
    #branches:
    #  - 'main'
    #  -
# a workflow consists of multiple jobs
jobs:
  # name of the job(s)
  build:
    # the platform this will run on.
    runs-on: ubuntu-latest
    # a job consists of multiple steps
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17 + cache
        uses: actions/setup-java@v3
        with:
          # change this if you want to upgrade your java version
          java-version: '17'
          distribution: 'temurin'
          # Setup maven cache
          cache: maven
      - name: Semantic Release
        if: ${{ github.event_name == 'push' }}
        uses: cycjimmy/semantic-release-action@v4
        id: semantic-release
        with:
          extra_plugins: |
            @semantic-release/exec
            @semantic-release/git
        env:
          persist-credentials: false
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN_PAT }}

      - name: convert repository name to lowercase
        if: ${{ (steps.semantic-release.outputs.new_release_published == 'true') }}
        run: |
          echo "REPO_LOWERCASE=${GITHUB_REPOSITORY,,}" >> ${GITHUB_OUTPUT}
      - name: Login to GitHub Container Registry
        if: ${{ (github.event_name == 'push') && (steps.semantic-release.outputs.new_release_published == 'true') }}
        uses: docker/login-action@v3
        with:
          # we are using the github container registry
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build to GitHub Container Registry
        if: ${{ (steps.semantic-release.outputs.new_release_published == 'true') }}
        # use jib plugin to build docker image
        # If you want to change the base image (e.g. if you changed your java version)
        # change the Djib.from.image value. Tags can be found here
        # https://hub.docker.com/_/eclipse-temurin?tab=tags
        run: >
          mvn compile com.google.cloud.tools:jib-maven-plugin:3.4.0:build
          -Djib.to.image=ghcr.io/${REPO_LOWERCASE}:${{ steps.semantic-release.outputs.new_release_version }}
          -Djib.from.image=eclipse-temurin:17-alpine
